.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: 50%;
  background-color: white;
  border-radius: 24px;
  padding: 46px;
}

.loginContainer > h1 {
  color: #333;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.loginForm > input {
  border-radius: 16px;
  background: rgba(240, 237, 255, 0.8);
  padding: 18px;
  border: none;
}

.loginForm > div > input[type="checkbox"] {
  accent-color: #7749f8;
  margin-right: 8px;
}
